{% extends 'notes/base.html' %}
{% block title %}Delete Note{% endblock %}

{% block content %}
<div class="delete-card">
    <h1>Delete Note</h1>
    <p class = "confirmation-text">Are you sure you want to delete: <strong>{{ note.title }}</strong>?</p>
    <div class="delete-actions">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="confirm-btn">Delete Note</button>
        </form>

        <a href="{% url 'notes:list' %}" class="cancel-btn">Cancel</a>
    </div>
</div>
{% endblock %}
