{% extends 'notes/base.html' %}
{% block title %}All Notes{% endblock %}

{% block content %}
<h1 class = "heading">Your Notes</h1>
<div class="search-box">
    <form method="get" class="search-form">
    <input
        type="text"
        name="q"
        value="{{ query }}"
        placeholder="Search notes..."
        class="search-input"
    >
    <button type="submit" class="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
        Search
    </button>
</form>
</div>
{% if notes %}
    <div class="notes-grid">
        {% for note in notes %}
            <div class="note-card">
                <div class="note-top">
                    <h3>{{ note.title }}</h3>
                    {% if  note.pinned %}
                        <span class="pin-badge">
                            <i class="fa-solid fa-thumbtack"></i>
                            Pinned 
                        </span>
                    {% endif %}
                </div>
                <p>{{ note.content | truncatechars:100}}</p>
                <div class="note-action">
                    <a href="{% url 'notes:edit' note.id %}">
                    <i class="fa-solid fa-pen"></i>
                    Edit
                   </a> 
                    <a href="{% url 'notes:delete' note.id %}">
                    <i class="fa-solid fa-trash"></i>
                    Delete
                    </a>
                </div>
            </div> 
        {% endfor %}
    </div>
{% else %}
    {% if query %}
        <div class="empty-state">
            <h2>No notes found</h2>
            <p>No notes matched "{{ query }}". Try a different keyword.</p>
        </div>
    {% else %}
        <div class="empty-state">
            <h2>No notes yet</h2>
            <p>Create your first note to get started.</p>
            <a href="{% url 'notes:add' %}" class="new-note-btn">Add Note</a>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
